body {
  font-family: 'Rum Raisin', sans-serif;
  position: relative;
  height: 100vh;
  background-image: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  position: absolute;
  bottom: 80px;
  right: 180px;
  width: 900px;
  height: 450px;
  background-color: #FFE6F8;
  background-image: url("./img/BackgroundBig.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px;
  background-blend-mode: lighten;
  background-position: bottom;
  padding: 20px;
  overflow: hidden;
}

@media (max-width: 992px) {
  #root {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: unset;
    height: unset;
    border-radius: unset;
  }
}

header h3 {
  font-size: 40px;
  color: red;
}

form {
  font-size: 30px;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

form .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  form .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

form .my-input-group {
  width: 100%;
}

form .my-input-group input {
  font-size: 24px;
  outline: none;
  width: 80%;
  border-radius: 10px;
  border: 2px solid #F61460;
  padding: 10px 20px;
}

@media (max-width: 992px) {
  form .my-input-group:last-child {
    margin-top: 100px;
  }
}

form .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .submit img {
  position: relative;
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
}

form .submit img:hover {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

form .submit img:active {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

form.fade-out {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  display: none;
}

.result {
  height: 200px;
  width: 250px;
  margin: 15px auto 0;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.result img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.result .bg {
  position: absolute;
  top: 2px;
  height: 98%;
  left: 2px;
  width: 98%;
  display: block;
  background-color: #7c0000;
  z-index: 1;
}

.result .text {
  position: absolute;
  top: 40px;
  z-index: 4;
  color: #fff;
  font-size: 40px;
}

.result .percent-bg {
  width: 98%;
  height: 0px;
  position: absolute;
  bottom: 1%;
  left: 1%;
  z-index: 2;
  background-image: url("./img/AnimBg.gif");
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.result.fade-in {
  height: 200px;
  width: 250px;
  margin: 15px auto 0;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.message {
  width: 800px;
  font-size: 28px;
  padding: 0 15px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0 0 3px 0 #FD256B;
          box-shadow: 0 0 3px 0 #FD256B;
}

@media (max-width: 992px) {
  .message {
    width: 90vw;
  }
}

.restart {
  border-radius: 10px;
  margin-top: 10px;
  background-color: #F3125E;
  font-size: 24px;
}

.copy-right {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */